html {
  scroll-behavior: smooth;
}

.header__social {
  margin-right: 50px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__social li {
  display: block;
  margin-right: 15px;
}

.header__social a img {
  width: 22px;
  height: 22px;
}

.header__social a {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

@media (min-width: 767px) {
  .header__social {
    display: flex;
  }
}

.banner__text {
  color: rgb(252, 250, 252);
  font-family: "Roboto", Sans-serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.1em;
  margin-bottom: 30px;
}

.banner img {
  max-width: 85%;
}

.bg-black {
  background-color: black;
}

/* add the collection image zoom */
.nft__image--box {
  overflow: hidden;

  box-shadow: 9px 13px 8px -4px rgba(0, 0, 0, 0.28);
}

.nft__image--box img {
  transition-duration: 3s;
  padding: 20px;
  margin: 0 auto;
  display: block;
}

.nft__image--box img:hover {
  transform: scale(2.2);
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  cursor: zoom-in;
  z-index: 0;
}

/* helper classes */

.text-center {
  text-align: center !important;
}

img {
  max-width: 100%;
}
